.header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 4px 4px grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1.2em 0em 1.2em 0em; 
    &__return {
        color: black;
        position: absolute;
        left: 5%;
    }
}