.menu-card {
    margin: 2em 0em 2em 0em;
    width: 100%;
    @include ipad-only {
    margin: 1em 0em 1em 0em;    
    }
    &__title {
        h3 {
            border-bottom: 3px solid $third-color;
            width: 2.5em;
            line-height: 1.9em;
            font-weight: 300;
            font-size: 1.1em;
        }
    }
    &__component {
        background-color: white;
        border-radius: 15px;
        width: 94%;
        margin: 1.2em 0em 1.2em 0em;
        box-shadow: 3px 3px 14px #d8d8d8;
        position: relative;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include mobile-only {
            width: 100%;
        }
        &--title {
            padding: 1em 1em 1em 1em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 65%;
            h4 {
            margin: 0;
            font-weight: 500;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            }
            span {
                font-weight: 300;
            }
        }
        &--price {
            position: relative;
            span {
                position: absolute;
                font-weight: 500;
                right: 1em;
                bottom: 1em;
            }
        }
        &--check {
            color: white;
            font-size: 1.7em;
            height: 100%;
            padding: 0 0.7em;
            border-radius: 0px 15px 15px 0px;
            background-color: $third-color;
            position: absolute;
            top: 0;
            right: -1.5em;
            display: none;
        }
    }
}