.menu-card {
    margin: 2em 0em 2em 0em;
    &__title {
        h3 {
            border-bottom: 3px solid $third-color;
            width: 2em;
            line-height: 1.9em;
            font-weight: 300;
            font-size: 1.1em;
        }
    }
    &__component {
        background-color: white;
        border-radius: 15px;
        width: 30%;
        margin: 1.2em 0em 1.2em 0em;
        box-shadow: 3px 3px 14px #d8d8d8;
        position: relative;
        cursor: pointer;
        @include mobile-only {
            width: 100%;
        }
        &--title {
            padding: 1em 1em 1em 1em;
            h4 {
                margin: 0;
                font-weight: 500;
            }
            span {
                font-weight: 300;
            }
        }
        &--price {
            position: relative;
            span {
                position: absolute;
                right: 1em;
                bottom: 1em;
            }
            &:hover {
                background-color: red;
            }
        }
        &--check {
            color: white;
            font-size: 1.7em;
            height: 100%;
            padding: 0 0.7em;
            border-radius: 0px 15px 15px 0px;
            background-color: $third-color;
            position: absolute;
            top: 0;
            right: -0.3em;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
        }
    }
}

/*menu tick rotate animation*/


.menu-card__component:hover .card-price {
    padding-right: 4em;
    transition: 0.5s ease;
  }
  
  .menu-card__component:hover .menu-card__component--check {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-in 0.5s ease forwards;
  }

  .fa-circle-check {
    animation: rotate-center 0.5s ease-in-out;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-8px);
    }
  }
  
  @keyframes rotate-center {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  
