/* loader animation */



/* like animation */
.like-icon {
    color: $third-color-font;
    cursor: pointer;
    &:hover::before {
        background: linear-gradient(#FF79DA, #9356DC);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
        transition: 500ms ease-out;
    }
}


/* menu card appear animation */
.menu-card {
  &__component {
    animation: appear 1s ease-in-out forwards;
    opacity: 0;
  }
  .menu-card__component:nth-child(2) {
  animation-delay: 0.2s;
  }

  .menu-card__component:nth-child(3) {
    animation-delay: 0.7s;
  }

  .menu-card__component:nth-child(4) {
    animation-delay: 1.2s;
  }

  .menu-card__component:nth-child(5) {
    animation-delay: 1.7s;
  }
}

@keyframes appear{
  0%{
      transform: translateY(30px);
      opacity: 0;
  }
  100%{
      transform: translate(0px);
      opacity: 1;
  }
}


/* menu card check animation */

.menu-card__component:hover .card-price {
    padding-right: 4em;
    transition: 0.5s ease;
  }

  .menu-card__component:hover .menu-card__component--check {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 0.5s ease forwards;
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-40px);
    }
  }

  .fa-circle-check {
    animation: rotate 0.6s ease-in-out;
  }

  @keyframes rotate {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }